<div>
    <div>
        <h1>{{this.title}}</h1>
        <p>{{this.description}}</p>
        <p>Precio: <b>{{this.price}}</b></p>
        <p>Categoría : {{this.category}}</p>
        <p>Cantidad Disponible : {{this.stock}}</p>
    </div>

    <div>
        <button>Agregar Al carrito</button>
    </div>
    
</div>